# this is required for bzlws to work
build --enable_runfiles

# We use std::flat_map. Skia requires at least C++20
common --cxxopt='-std=c++23'

# Treat sources as UTF-8, Widen chars to UTF-8 encoding.
common --cxxopt='-finput-charset=UTF-8' --cxxopt='-fexec-charset=UTF-8'
#common --macos_minimum_os=13.3

#build --cxxopt='-std=c++23' --xcode_version=25

# Include build status info.
common --stamp --workspace_status_command=./scripts/bazel-build-info.sh
# build:release -c opt --stamp

test --test_output=errors

build --cxxopt=-std=c++20
build --cxxopt=-Werror=return-type
